%p#notice= notice

%p
  %b Title:
  = @note.title
%p
  %b Description:
  = @note.description

%p= link_to 'Add Task', new_task_path(note_id: @note)

= link_to 'Edit', edit_note_path(@note)
\|
= link_to 'Back', notes_path
